<html>
<head>
<title>GIF FUNK</title>
</head>
<body>
<form action="/funkify" method="get">
URL: <input type="text" name="uri" style="width: 300px;" /> <input type="submit" value="Submit" />
</form>
</body>
</html>
